@font-face{
    font-family: Pretendard;
    src: url('../fonts/PretendardVariable.woff2');
  }
  
  /* *{
    margin: 0;
    padding: 0;
  } */

  body{
    font-family: Pretendard, sans-serif;
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20%; */
  }



.title{
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 30%;
    width: 80%;
}

.main-body{
    display: block;
    margin: 0 auto;
    background-color: #F3F6FF;
    padding: 10px;
    width: 85%;
}

.inf-user{
    background-color: #F3F6FF;
    color: #333333;
}

.inf-user .row{
    font-size: 13px;
    padding-left: 10px;
}

.inp{
    font-size: 13px;
}

/* .button-logout{
    position: fixed;
    right: 0;
    display: block;
    background-color: #4371EC;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
} */
