@font-face{
    font-family: Pretendard;
    src: url('../fonts/PretendardVariable.woff2');
  }
  
  body{
    font-family: Pretendard, sans-serif;
    background-color: #F7F7F7;
    margin: 0px;
    overflow: hidden;
  }

  .container {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    max-width: 500px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER */
.user-layout{
    margin-top: 30%;
}

.header-wrap {
    width: 100%;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 34px;
    margin-top: 30%;
}

.header-wrap .title-small{
    font-size: 13px;
    text-align: center;
    color: #555555;
}

.header-wrap .title-big{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: #000000;
    margin-top: 8px;
    margin-bottom: 8px;
}
/* BODY */
.form-inner{
    width: 100%;
}
.form-inner .inp-inner{
    margin-bottom: 8px;
}

.inp-inner .inf-input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    display: block;
    height: 46px;
    font-size: 13px;
    border: 1px solid #EBEBEB ;
    border-radius: 5px;
    padding-left: 14px;
    color: #A7A7A7;
}

/* BUTTON Đăng nhập */
.btn-wrap{
    display: block;
    margin-top: 12px;
    margin-bottom: 26px;
  }

  .btn {
    background : transparent;
    border: none;
    border-radius: 5px;
    color: #fff;
 
 }
.btn.big-full {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 83.5%;
    height: 46px;
    font-size: 16px;
    /* padding: 1%; */

 }
 .btn.blue {
    background: #4371EC;
 }

.list-tit-space {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0 30px;
  }
  
  .list-tit-space > li {
    flex: 1;
    list-style: none;
    position: relative;
    align-items: center;
    text-align: center;
  }
  .list-tit-space li a {
    text-decoration: none;
    color: #555555;
    font-size: 13px;
    /* padding: 0 15px; */
  }
  
  .list-tit-space > li a::after {
    background: url('../icons/line.svg');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    content: " ";
    position: absolute;
    bottom: 3px;
    margin-left: 18px;
  }
  
  .list-tit-space > li:last-child a::after {
     display: none;
  }
  
.error-message {
    font-size: 16px;
    color: red;
    text-align: center;
}