@font-face{
    font-family: Pretendard;
    src: url('../fonts/PretendardVariable.woff2');
  }
  
  body{
    font-family: Pretendard, sans-serif;
    background-color: #ebe8e8;
    margin: 0px;
  }

  .container{
    border-radius: 5px;
    background-color: #F7F7F7;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
  }

/* HEADER */
  .user-layout{
    margin-bottom: 20px;
    background-color: white;
  }

  .header-inner{
    display: flex;
  }

  .header-inner .btn{
    flex-basis: 2%;
    padding: 0px;
    margin: 23px 12px 19px 16px;
  }

  .header-inner .tit-area{
    flex-basis: 96%;
    font-size: 17px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  
.btn-back:hover{
    background-color: #c8c4c4;
} 

/* BODY */
  .user-body{
    margin: 20px 10px;
  }

  .form-inner{
    margin: 20px 12px;
  }

  .inp-wrap{
    margin-bottom: 8px;
    background-color: white;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
  }

  .inp-inner{
    display: flex;
    padding: 20px 10px;
    border-bottom: 1px solid #EBEBEB;
    font-size: 16px;
    color: #554d4d;
  }

  .inp-inner .tit{
    flex-basis: 20%;
    color: #555555;
    font-size: 13px;
  }

  .inp-inner .inp{
    flex-basis: 50%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 13px;
  } 

  .inp-inner input::placeholder{
    color: #A7A7A7;
  }

  .error-register{
    font-size: 13px;
    color: red;

  }

  /* BUTTON ĐĂNG KÝ */

  .btn-wrap{
    margin-top: 34px;
  }

  .btn {
    background : transparent;
    border: none;
    border-radius: 5px;
    color: #fff;
 }

 .btn.big-full {
    width: 100%;
    height: 46px;
    font-size: 20px;

 }
 
 .btn.blue {
    background: #4371EC;
    font-size: 16px;
 }
